@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

*
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Roboto Slab', serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	display:block;
}

body
{
	min-height:100%;
	background-color: #eaedf0;
	padding: 50px 0 0 180px;
	display:block;
	-webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

a
{
    color: inherit;
    text-decoration : none;
    display: inline;
}

a:hover
{
    color: inherit;
}

i
{
	cursor: pointer;
}

button:hover 
{
    cursor: pointer;
}

 @media screen{
  body>div#Dashboard-Header{
   position:fixed;
  }
  body>div#Dashboard-Nav{
   position:fixed;
  }
 }

/* ---------- Bootstrap Overrides ---------- */
#Dashboard-Nav a{
    color: #fff;
    text-decoration: none;
}
#Dashboard-Nav a:active
{
    color: #fff;
    text-decoration: none;
}
#Dashboard-Nav a:link
{
    color: #fff;
    text-decoration: none;
}
#Dashboard-Nav a:visited
{
    color: #fff;
    text-decoration: none;
}

#Dashboard-Header a, #Dashboard-Header a:link {
    color: inherit;
    text-decoration: none;
}

/* ---------- Re-usables -------------*/
.fl-left
{
	float: left;
}
.fl-right
{
	float: right;
}
.notif 
{
    background-color: #ffffff;
    color: #107b10;
    margin-bottom: 15px;
    font-size: 13px;
    padding: 4px 8px;
    width: 100%;
}
.notif-icon
{
	height:100%;
	width: 2%;
}
.notif>span
{
	display: inline-block;
	width: 98%;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.result-filter
{
    height: 36px;
    width: 238px;
}
.filter-drpdwn
{
    margin: 0;
    height: 36px;
    color: #313131;
    background-color: #f9f9f9;
    border: none;
    outline: none;
}
.result-filter>.filter-drpdwn
{
    width: 82px;
}
.result-filter>span
{
    font-size: 14px;
    margin-left:15px;
}
.ctrl-bar 
{
    width: 100%;
    height: 36px;
}
.ctrl-bar.upper
{
    margin-bottom: 18px;
}
.ctrl-bar.lower
{
    margin-top: 18px;
}
h3
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #34373c; 
    background-color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    text-align: left;
    padding: 0 15px;
    line-height: 40px;
}
h3>span 
{
    font-size: 11px;
}
h3 .icon:hover
{
    color: #aa3327;
}
h3 .icon>i
{ 
    font-size: 16px;
    width:18px;
    text-align: center;
}
h3>.latest-update
{
    margin-left: 10px;
}
h3 .config-i
{ 
    position: absolute;
    right: 10px;
    margin-top: -2px;
}
h3 .info-i
{
    position: absolute;
    right: 36px;
}
h4 
{
    position: relative;
    width: 100%;
    height: 36px;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
    padding: 0px 15px;
    background-color: #f9f9f9;
}
h4>span 
{
    font-size: 10px;
}
h4 .add-i
{
    position: absolute;
    right: 10px;
}
h5 
{
    width: 100%;
    height: 28px;
    padding: 0px 25px;
    font-size: 15px;
    font-weight: normal;
}
.seer-tbl
{
    border: 0px;
    outline: none;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}
.seer-tbl>tbody, .seer-tbl>tbody>tr
{
    border: 0px;
    outline: none;
}
.seer-tbl .alt-row
{
    background-color: #f9f9f9;
}
.seer-tbl th
{
    font-size:14px;
    font-weight: normal;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    background-color: #f0f0f0;
    border-left: 1px solid #e0e0de;
}
.seer-tbl th:first-child
{
    border-left: none;
}
.seer-tbl td
{
    font-size:12px;
    font-weight: normal;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    color: #34373c;
    border-left: 1px solid #e0e0de;
}
.seer-tbl td>i
{
    margin-right:8px;
}
.seer-tbl td:first-child
{
    border-left: none;
}
.tr-alt
{
    background-color: #f9f9f9;
}
.button-footer
{
    margin-top: 15px;
    height: 36px;
}
.content-area>.content-inner
{
    padding: 15px;
}
.content-area .content-table
{
    padding: 5px 20px 20px;
}

.tf-container > .tf-checkbox-container
{
    width: 20%;
    margin-top: 18px;
}
.tf-container > .tf-fields
{
    width: 80%;
}

.srch-container
{
    height: 36px;
    margin-right: 15px;
}
.srch-trm
{
    height: 36px;
    border: none;
    width: auto;
    overflow: hidden;
}
.srch-trm>input[type=text]
{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 10px;
}
.srch-trm>input[type=text]:focus
{
    outline: none;
}
.srch-btn
{
    height: 36px;
    width: 38px; 
    background-color: #f9f9f9;
    color: #34373c; 
    border: none;
    float:left;
}

.horiz-select-container
{
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.horiz-select {
	border: none;
	width: 100% !important;
}
.horiz-select-option {
	height: 36px;
    width: 33%;
	background-color: white;
	display: inline-block;
    text-align:center;
    line-height: 36px;
    font-size: 13px;
}
.horiz-select-option:hover
{
    cursor: pointer;
}
.horiz-select-selected
{
    background-color: #c0392b;
    color: #ffffff;
}

.content-accord
{
    overflow: hidden;
}
.accord-toggle
{
    cursor: pointer;
}
.accord-content
{

}
.accord-content-hidden
{
    height: 0px;
}

.flex-container /* Generic flex container */ 
{
    display: -webkit-flex;
    display: flex;
}

.options-box
{
    width: 100%;
    padding: 15px;
    flex-flow: row wrap;
}
.options-box > div 
{
    flex-basis: 25%;
    padding: 10px;
}
.options-box > div .option-link
{
    position: relative;
    background-color: #c0392b;
    color: #ffffff;
    width: 100%;
    height: 120px;
    padding: 12px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.options-box > div .option-link:hover
{
    background-color: #aa3327;
    cursor: pointer;
}
.option-link > .option-icon
{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 18px;
    padding-top: 12px;
    font-size: 22px;
}
.option-link > .option-text
{
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 12px;
}

.filter-select
{
    margin-right: 10px;
    height: 36px !important;
    border: 0px !important;
}

.sub-label
{
    font-size: 10px;
}

.filter-btn
{
    height: 36px;
    width: 36px;
    border: 0px;
    background-color: #c0392b;
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.filter-btn:hover
{
    background-color: #aa3327;
}
.filter-btn:active
{
    background-color: #9b2f24;
}

/* ---------- Header Styles ---------- */
#Dashboard-Header
{
    position: fixed;
}
.main-header
{
    z-index:1000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	line-height:50px;
	text-align: center;
	background-color: #34373c;
	color: #9da4ac;
}
.header-content
{
  	position: relative;
  	font-size: 18px;
}
.header-content-right
{
    width: auto;
}
.header-content #Nav-Toggle {
   position: absolute;
   display: none;
   /*top: -9999px;
   left: -9999px;*/
   /* For mobile, it's typically better to position checkbox on top of clickable
      area and turn opacity to 0 instead. */
}
#site-title
{
	display: inline-block;
	width:180px;
	line-height:50px;
	text-align: center;
	background-color: #222222;
}
#toggle-nav
{
	display: inline-block;
	width:30px;
	line-height:50px;
	text-align: center;
}
#Notif-Area
{
    position: relative;
}
.icon-hover:hover
{
    cursor: pointer;
    background-color: #222222;
}
#Notif-Icons
{
    width: 80px;
    height: 50px;
}
#Notif-Icons > div 
{
    width: 40px;
    position: relative;
}
.alert-counter
{
    font-size: 9px;
    color: #ffffff;
    background-color: #c0392b;
    border-radius: 8px;
    padding: 0px 5px;
    position: absolute;
    top: 8px;
    left: 5px;
    height: 16px;
    text-align: center;
    overflow: hidden;
    line-height: 16px;
}
#User-Area
{
	width: 120px;
	height: auto;
	background-color: #34373c;
}
#User-Area:hover
{
	cursor:pointer;
}
#User-Area-Icon>label
{
    display:block;
	width:100%;
	padding:0 14px;
    margin: 0;
	font-size:14px;
    line-height:50px;
}
#User-Area-Icon>label:hover
{
	cursor:pointer;
}
#User-Area-Toggle
{
	display:none;
}
#User-Area-Toggle:checked ~ ul
{
	height:54px;
}
#User-Drop-Down>ul>li
{
	height:27px;
	font-size: 12px;
	line-height:27px;
	text-align:left;
	padding-left:15px;
}

#Header-Drop-Down > div 
{
    position: absolute;
    top: 0px;
    right: 0px;
}
#Warning-Drop-Down
{
    position: absolute;
    top: 50px;
    right: 0px;
}
#Alert-Drop-Down
{
    position: absolute;
    top: 50px;
    right: 0px;
}
#User-Drop-Down
{
    position: relative;
    font-size: 12px;
    width: 200px;
}
.drop-down
{
    background-color: #34373c;
    padding: 0px 3px 3px 3px;
    font-size: 11px;
	overflow: hidden;
}
.drop-down-hidden
{
    height: 0;
    padding: 0;
}
.drop-down-header
{
    width:300px;
    background-color: #ffffff;
    height:40px;
    text-align: left;
    padding: 0px 15px;
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 12px;
    color: #34373c;
}
.drop-down-header > span 
{
    float: right;
}
.drop-down > ul
{
    clear: both;
    background-color: #ffffff;
} 
.alert-drop-down > ul
{
    width: 300px;
    border-top: 1px solid #eaedf0;
}
.drop-down> ul > li
{
    height: 40px;
    line-height: 40px;
}
.drop-down > ul > li:hover 
{
    cursor: pointer;
    background-color: #f9f9f9;
}
.drop-down > ul > li a
{
    width: 100%;
    height: 100%;
}
.drop-down > ul > li .severity
{
    float: left;
    width: 40px;
    height: 40px;
    font-size: 13px;
}
.drop-down > ul > li .category
{
    float: left;
    height: 40px;
}
.drop-down > ul > li .machine
{
    float: right;
    height: 40px;
    padding-right: 8px;
}

/* ---------- Sidebar Navigation Styles ---------- */
#Dashboard-Nav
{
	position: fixed;
    z-index:1000;
	top: 50px;
	left: 0px;
	background-color: #c0392b;
	color: #f8f8f8;
	width: 180px;
	height: calc(100% - 50px);
	-webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
nav>ul
{
	position: relative;
}
nav>ul>li
{
	width:100%;
	height: auto;
}
nav>ul>li div
{
	height: 50px;
	position: relative;
    font-size: 12px;
	vertical-align: middle;
	line-height: 50px;
}
nav>ul>li>div>span, nav>ul>li>label>div>span
{
    font-size: 16px;
}
nav>ul>li:hover
{
	background-color: #aa3327;
	cursor: pointer;
}
nav>ul>li>label 
{
    width:100%;
    height:50px;
    margin:0px;
    padding:0px;
    font-weight: normal;
}
nav>ul>li>label:hover
{
	cursor: pointer;
}
nav i 
{
	margin-left:10px;
	margin-right:5px;
}
/* Sub-menu navigation checkbox styles */
.sub-nav-toggle
{
	display: none;
}
.nav-selected
{
    background-color: #9b2f24 !important;
}
.nav-open 
{
    background-color: #aa3327;
}
.nav-sub-menu
{
    background-color: #aa3327 !important;
    height: 0px;
	font-size:11px;
	overflow: hidden;
	-webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.nav-sub-menu.nav-sub-menu-open
{
    height: auto;
}
.nav-sub-menu>li
{
	line-height:30px;
	padding-left:15px;
	width:100%;
	height:30px;
    font-size: 10px;
}
.nav-sub-menu>li:hover
{
	background-color: #9b2f24;
}
.pop-out-menu
{
    height: 0px;
    position: fixed;
    margin-top: -30px;
    margin-left: 165px;
    background-color: #aa3327;
    overflow: hidden;
}
.pop-out-menu>ul>li
{
    padding:0px 10px;
    height:30px;
    width:100%;
    line-height: 30px;
}
.pop-out-menu>ul li li
{
    width: 100%;
}
.pop-out-menu>ul li 
{
    white-space: nowrap;
}
.pop-out-menu>ul>li:hover
{
    background-color: #9b2f24;
}


/* ---------- Dashboard Main Content Styles ---------- */
#Main-Content
{
	/* Pretty sure the problem was missing display: block; */
	display:block;
	height:100%;
}
#Page-Title
{
    width: 100%;
    height: 50px;
    background: #ffffff;
    color: #34373c;
    font-size:18px;
    line-height:50px;
    padding:0 16px;
}
#Page-Title>div
{
    width: 100%;
}
.breadcrumb-spacer
{
    margin: 0 10px;
}
#Page-Content
{
	padding:20px;
}
.page-content
{
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}
.content-area
{
    background: #ffffff;
    margin-bottom: 15px;
    overflow: hidden;
}
.default-area
{
    height:540px;
	width:100%;
    padding:14px;
}


footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width:100%;
  background-color: #ffffff;
  text-align: right;
  padding-right:10px;
  line-height: 30px;
  font-size: 10px;
  color: #c0392b;
}


/* ---------- Login Screen Content Styles ---------- */
.form-window
{
    width:300px;
    height:auto;
    position:absolute;
    left:calc(50% - 150px);
}
.form-win-login
{
    top: calc(50% - 114px);
}
.form-win-reg
{
    top: calc(50% - 226px);
}
.form-container
{
    padding-top:20px;
    background-color:#ffffff;
}
.form-container input[type=text], input[type=password], select:not([multiple])
{
    width:240px;
    height:30px;
    border: 1px solid #e6e7e9;
    padding-left:8px;
    color:#9aa1a9;
    font-family: 'Roboto Slab', serif;
}
select[multiple] 
{ 
    width:240px;
    height:250px;
}
.login-reg-link
{
    padding-right:10px;
    font-size:12px;
}
.login-reg-link i
{
    margin-left:4px;
}
.login-reg-link a {
    color: #9da4ac;
    text-decoration: none;
}
.login-reg-link a:active
{
    color: #9da4ac;
    text-decoration: none;
}
.login-reg-link a:link 
{
    color: #9da4ac;
    text-decoration: none;
}
.login-reg-link a:visited
{
    color: #9da4ac;
    text-decoration: none;
}
.form-footer
{
    text-align:right;
}
.submit-button
{
    color: #ffffff;
    background-color: #c0392b;
    font-size:14px;
    height:32px;
    width:130px;
    border:none;
}
.submit-button:hover
{
    cursor: pointer;
    background-color: #aa3327;
}
.center-input
{
    text-align:center;
    margin-bottom:15px;
    position:relative;
}
.left-input
{
	width: 100%;
	padding: 0px 10px;
	margin-bottom:5px;
}
.left-input>label
{
	font-size: 12px;
	color: #34373c;
}
.icon-margin
{
    margin: 0 4px;
}
.form-val
{
    width:100%;
    height:20px;
    overflow:hidden;
}
.form-val-msg
{
    font-size: 13px;
    background-color: #ffffff;
    color: #c0392b;
    position:absolute;
    top: 0;
    left: 0;
    max-height:20px;
    width:100%;
    text-align:center;
    overflow:hidden;
}


/* ------------ Admin - Users specific styles ------------ */
.user-search
{
    width: 425px;
    height: 36px;
}
.usr-srch-trm
{
    float: right;
    height: 36px;
    width: 387px;
    border: none;
    padding: 0 10px;
}
.usr-srch-trm>input[type=text]
{
    height: 100%;
    width: 100%;
    border: none;
}
.usr-srch-trm>input[type=text]:focus
{
    outline: none;
}
.usr-srch-btn
{
    height: 36px;
    width: 38px; 
    background-color: #f9f9f9;
    color: #34373c; 
    border: none;
}
.usr-tbl td:last-child
{
    text-align: center;
    padding-left: 0px;
}
.pag-bar>span
{
    font-size: 14px;
    margin-left: 15px;
}
.pag-bar .filter-drpdwn
{
    width: 82px;
}
.filter-drpdwn
{
    cursor: pointer;
}
.pag-bar span 
{
    font-size: 14px;
    margin-left: 15px;
    line-height: 36px;
}
.pag-btn
{
    padding: 0px 14px;
    height: 36px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #c0392b;
}
.pag-btn:hover
{
    background-color: #aa3327;
    cursor: pointer;
}
.del-usr
{
    width: 220px;
}
.edit-usr
{
    width: 260px;
}
.edit-usr th
{
    text-align: center;
}


/* ---------- Monitoring Pages Styles ---------- */
.system-info
{
    font-size: 13px;
}
.system-info .system-info-flex
{
    padding: 20px 5px;
}
.system-info-flex
{
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
.system-info-flex>div
{
    width: 33.3%;
    padding: 0px 25px;
    color: #4b5057;
}
.system-info-flex>div>span
{
    margin-right: 10px;
    font-size: 14px;
    color: #34373c;
}
.system-info-flex input, .system-info-flex select
{
    width: 100%;
    height: 30px;
    border: 1px solid #9da4ac;
    padding-left: 8px;
    color: #9aa1a9;
    margin-top: 10px;
}
.perf-flex
{
    display: flex;
}
.perf-data 
{
    flex: 100%;
}
#CpuData
{
    margin-right: 15px;
}
.chart-container 
{
    padding: 20px 40px 15px 25px;
}
.perf-footer
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0px 15px;
}
.perf-footer>span
{
    margin-right: 30px;
}

.drive-flex 
{ 
  padding: .5vw;
  font-size: 12px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.drive-flex .drive-flex-ele 
{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .8vw 10px; 
  padding-top:10px;
  padding-bottom:10px;
}
@media screen and (max-width: 400px) 
{
  .drive-flex .drive-flex-ele  { margin: 0; }
  .drive-flex  { padding: 0; }
  .drive-flex-ele div { margin: 0px; display: inline; vertical-align: top;}
}
.drive-name
{
    height: 32px;
    width:30px;
    text-align: center;
    line-height: 32px;
    float: left;
}
.drive-meter-outer
{
    background-color: #ebeafa;
    height: 32px;
    margin-left:30px;
    margin-right:70px;
}
.drive-meter-inner
{
    position: relative;
    background-color: #807dba;
    height: 32px;
}
.drive-meter-tip 
{
    position: absolute;
    top: -16px;
    right: 0px;
    font-size: 10px;
    white-space: nowrap;
}
.drive-total
{
    height: 32px;
    width:70px;
    text-align: center;
    line-height: 32px;
    float: right;
}
.proc-table
{
    padding-top: 15px !important;
}

#EnvEventLogData 
{
  width: 66%;
  margin-right: 15px;
}
#EnvEventLogData 
{
  width: 66%;
  margin-right: 15px;
}
#EnvEventLogData th 
{
    font-size:12px;
}
#EnvEventLogData td 
{
    font-size:11px;
}
#EnvServiceData 
{
  width: 33%;
}
.el-chart-container
{
    padding-right: 10px;
}
.el-content-table
{
    padding-left: 0px !important;
}

.srv-chart-container 
{
    padding: 10px;
}

/* ---------- Monitoring Pages Styles ---------- */

/* ---------- Configuration Pages Styles ---------- */

.mon-list-box 
{
    height: 200px !important;
}
#MachineConfig h5
{
    margin-top: 15px;
}
.mon-settings
{
    padding-bottom: 15px;
}
.dynamic-mon-list > .list-edit-btns
{
    width: 20%;
    margin-left: 8px;
    margin-top: 28px;
}
.dynamic-mon-list > .list-edit-fields
{
    width: 80%;
}
.list-edit-btns button
{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #9da4ac; 
}
#DynamicAlertsConfig
{
    margin-top: 25px;
}
.alerts-config
{
    padding: 0px 20px 15px;
}
.alerts-config > div
{
    width: 25%;
    padding: 0px 10px;
}
.alerts-config input
{
    width: 100%;
    height: 30px;
    border: 1px solid #9da4ac;
    padding-left: 8px;
    color: #9aa1a9;
}
.alert-fields > label 
{
    display: block;
    font-size:12px;
    width: 100%;
}
.alert-fields > .sub-label
{
    font-size:10px;
}
.alert-fields > .sub-label:nth-of-type(3)
{
    margin-top: 8px;
}
.alert-config > .alert-checkbox
{
    width: 20%;
    margin-top: 30px;
}
.alert-config > .alert-fields
{
    width: 80%;
}

.ind
{
    text-align: center !important;
    padding-left: 0px !important;
}
.indicator 
{
  width: 18px;
  height: 18px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-size:12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.info
{
  	border: 1px solid #4cae4c;
  	color: #4cae4c;
}
.info:before
{
    font-family: FontAwesome;
    content: "\f00c";       /* fa-check */
}
.warn
{
	border: 1px solid #eea236;
  	color: #eea236;
}
.warn:before
{
    font-family: FontAwesome;
    content: "\f12a";       /* fa-exclamation */
}
.alert
{
  	border: 1px solid #b12024;
  	color: #b12024;
    line-height: 15px;
}
.alert:before
{
    font-family: FontAwesome;
    content: "\f00d";       /* fa-times */
}
.na
{
    border: 1px solid #e0e0de;
  	color: #e0e0de;
    line-height: 14px;
}
.na:before
{
    content: "-";
}

/* ---------- Configuration Pages Styles ---------- */




/* ---------- Discover Page Styles ---------- */

#SearchBasic
{
    width: 100%;
    height: 36px;
    overflow: hidden;
    margin-bottom: 15px;
}
#SearchBasicQuery
{
    width:60%;
}
#SearchBasicType 
{
    width:40%;
    height: 36px;
}

.adv-ops
{
    padding: 20px 5px;
    font-size: 13px;
}
.adv-ops
{
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
.adv-ops>div
{
    width: 33.3%;
    padding: 0px 25px;
    color: #4b5057;
}
.adv-ops>div>span
{
    margin-right: 10px;
    font-size: 14px;
    color: #34373c;
}
.adv-ops input, .adv-ops select
{
    width: 100%;
    height: 30px;
    border: 1px solid #9da4ac;
    padding-left: 8px;
    color: #9aa1a9;
    margin-top: 10px;
}

.query-results-list
{
    padding-bottom: 2px;
}
.query-result
{
    height: auto;
    width: 100%;
    padding: 15px 25px;
}
.no-results
{
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}
.query-result:hover
{
    background-color: #f9f9f9;
}
.query-result-name
{
    width: 60%;
    font-size: 13px;
}
.query-result-props
{
    width: 40%;
    text-align: right;
}
.query-result-props li 
{
    margin-bottom: 5px;
    font-size: 0px;
}
.query-result-props li>span
{
    font-size: 11px;
}
.query-result-props .matched-val
{
    font-weight: bold;
    font-size: 11px;
}
.query-result-props .matched-prop
{
    margin-left: 3px;
    color: #9aa1a9;
    font-size: 10px;
}
/* ---------- Discover Page Styles ---------- */


/* ---------- AlertViewer Styles ---------- */
#FilterAlertType
{
    margin-right: 10px;
}
.matched-alerts-list
{
    padding-bottom: 2px;
}
.matched-alert
{
    height: auto;
    width: 100%;
    padding: 0px 15px;
    margin-top: 10px;
}
.matched-alert:hover
{
    background-color: #f9f9f9;
}
.matched-alert > .alert-header
{
    height: 40px;
    font-size: 13px;
    line-height: 40px;
}
.matched-alert .alert-id 
{
    float: left;
}
.matched-alert .alert-type
{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.matched-alert .alert-machine
{
    float: right;
}
.matched-alert .alert-desc
{
    line-height: 25px;
    text-align: left;
    font-size: 12px;
    padding: 5px 0px;
}
.matched-alert .alert-archive
{
    display: inline;
    margin-left: 10px;
}
.matched-alert .alert-archive:hover
{
    color: #c0392b;
}
.matched-alert .alert-time
{
    margin-left: 25px;
}
.matched-alert .alert-historical
{
    color: #9da4ac;
}
.no-alerts
{
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0px;
}
/* ---------- AlertViewer Styles ---------- */


/* ---------- CalendarViewer Page Styles ---------- */

#CalendarFilters
{
    margin-bottom: 10px;
}
#CalendarTable
{
    width: 100%;
    height: auto;
    border-collapse:collapse;
}
.cal-container
{
    padding: 0px 15px 15px;
}
/*#CalendarTable > tr
{
    width: 100%;
    margin: 0px;
}*/
#CalendarTable th
{
    height: 20px;
    font-weight: normal;
    font-size:14px;
    text-align: center;
    height: 30px;
    background-color: #f0f0f0;
    border-left: 1px solid #e0e0de;
    width:14%;
}
#CalendarTable td
{
    height: 80px;
    border-left: 1px solid #ededed;
    border-top: 1px solid #ededed;
    overflow: hidden;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
}
#CalendarTable th:first-child
{
    border-left: none;
}
#CalendarTable tr td:first-child
{
    border-left: none !important;
}
#CalendarTable .cal-date
{
    height: 20%;
    width: 100%;
    font-size: 13px;
    padding-left:4px;
    top: 0px;
}
#CalendarTable .cal-event
{
    width: 100%;
    height: 80%;
    font-size: 11px;
    padding: 6px 6px 20px 6px;
}
#CalendarTable .blank-date
{
    text-align: center;
    color: #9aa1a9;
}
#CalendarTable .event-false:hover
{
    background-color: #f9f9f9;
    cursor: pointer;
}
#CalendarTable .event-true:hover
{
    background-color: #c0392b;
    color: #ffffff;
    cursor: pointer;
}
.event-detail
{
    display: none;
}
.event-detail > div
{
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
}
.event-desc
{
    width: 100%;
}
.event-effort
{
    margin-top: 10px;
    width: 100%;
}

/* ---------- CalendarViewer Page Styles ---------- */