@model Overseer.WebApp.ViewModels.Alert._AlertNotificationsViewModel

<div id="Alert-Icon" class="icon-hover">
    <i class="fa fa-exclamation-circle"></i> @Model.WarningCount
</div>
<div id="Warning-Icon" class="icon-hover">
    <i class="fa fa-times-circle"></i> @Model.AlertCount
</div>