@model Overseer.WebApp.ViewModels.Machine._DynamicMonitoringAlertsConfigViewModel

@using (Html.BeginForm("DynamicMonitoringAlertsConfig", "Machine", FormMethod.Post, new { id = "AlertsConfigForm" } ))
{
    <div id="AlertsConfigBtns">
        <input type="submit" class="fa" value="&#xf00c; Save" />
        <span id="CloseDynamicAlertsConfig">Close</span>
    </div>
    <input type="hidden" name="MachineId" value="@Model.MachineId" />
    <div>
        @Html.EditorFor(m => m.ProcessAlertSettings)
    </div>
    <div>
        @Html.EditorFor(m => m.EventLogAlertSettings)
    </div>
    <div>
        @Html.EditorFor(m => m.ServiceAlertSettings)
    </div>
}
