
@{
    ViewBag.Title = "Unauthorized";
}

<div id="Page-Title">
    <div class="fl-left">
        <i class="fa fa-ban a-fw" aria-hidden="true"></i>&nbsp Unauthorized
    </div>
</div>

<div id="HomePage" class="page-content">
    <div class="content-area">
        <h3>
            Error:
        </h3>
    </div>

    <div class="content-area unauth-content">
        <div class="unauth-icon">
            <i class="fa fa-ban a-fw" aria-hidden="true"></i>
        </div>
        <div class="unauth-title">
            Unauthorized!
        </div>
        <div class="unauth-msg">
            You are not authorized to view this page.
        </div>
    </div>
</div>



